future
enum34
futures
pytoml

beautifulsoup4
lxml
readability-lxml
cssselect
pattern
langid
numpy
jmespath

lmdb

webassets
csscompressor
pyScss
flask
flask-restful
Flask-Session
flask-login
authomatic
requests
waitress
paste
jsmin

arrow
python-dateutil
spooky
