future
enum34

beautifulsoup4
lxml
readability-lxml
cssselect
pattern
langid
numpy

redis
hiredis

webassets
csscompressor
pyScss
flask
flask-restful
requests
cherrypy
paste
jsmin

arrow
python-dateutil
spooky
